.heroe{
	text-align:center;
	height:505px;
	background:blue;
	color:white;
	box-sizing:border-box;
	padding:50px; 
    background-repeat: no-repeat; /* No repetir la imagen */
    background-size: cover; /* Ajustar la imagen dentro del contenedor */
    background-position: center !important; /* Centrar la imagen dentro del box */
    margin: 0 auto; /* Centra/* Centrar horizontalmente y alinear arriba */
  
}
.heroe h3,.heroe h4{
	font-size:3em;
	padding:0px;
	margin:0px;
	margin-bottom:10px;
	font-weight:normal;
 
}
.heroe button{
	padding:20px;
	border:2px solid white; 
	border-radius:40px;
	width:200px;
	background:none;
	color:white;
}