html,body{
    margin:0px;
    padding:0px;
}
header{
    height:44px;     /*Altura de la barra*/
    position:fixed;
    top:0px;
    width: 100%;
    background:white;
    box-shadow:0px 2px 4px rgba(0,0,0,0.3);
    
}

header .contenedor{
    width:1024;
    margin:auto;
}
header .contenedor img{
    width: 30px;
}
header .contenedor ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
}
header .contenedor li{
    display: inline-block;
}
header .contenedor ul li a{
    text-decoration:none;
    color:inherit;

}